{% extends 'base.html' %}
{% load bulma_tags %}
{% load i18n %}

{% block title %}
  {{ project.user }}/{{ project.title }}
{% endblock %}

{% block content %}
  <div class="c-page">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-2-tablet is-8-tablet is-offset-3-desktop is-6-desktop">
            {% if project.user == user %}
              <h1 class="title is-1">{% trans "Project: " %}</h1>
              <form id="updateForm" action="{% url 'editProject' pk=project.pk %}" method="POST" enctype="multipart/form-data" class="c-form">
                {% csrf_token %}
                {{ form|bulma }}
              </form>
              <br>
              <div class="level">
                <div class="level-left">
                  <button class="button is-outlined" type="submit"
                          value="Save" form="updateForm">{% trans "Save Changes" %}</button>
                </div>
                <div class="level-right">
                  <form id="deleteForm" action="{% url 'deleteProject' pk=project.pk %}" method="POST" class="c-form">
                    {% csrf_token %}
                    <button class="button is-danger is-outlined" type="submit"
                            value="Delete">{% trans "Delete Project" %}</button>
                  </form>
                </div>
              </div>

              <hr>
              <h2 class="is-size-2 has-line-height-tight">{% trans "Datasets: " %}</h2>
              {% if project.project_dataset.all.count > 0 %}
                {% for dataset in project.project_dataset.all %}
                  <div class="c-project__dygraph">
                    <a href="{% url 'showDataset' pk=dataset.pk project_pk=dataset.project.pk %}">
                      {% trans "Dataset: " %}{{ dataset.title }}
                    </a>
                    <div class="c-dygraph js-dygraph is-loading" data-csvurl="{{ dataset.data_file.url }}"></div>
                  </div>
                {% endfor %}
              {% else %}
                <p>{% trans "No datasets submitted yet." %}</p>
              {% endif %}
              <a class="button is-outlined" href="{% url 'addDataset' pk=project.pk %}">
                <span class="icon"><i class="material-icons">add</i></span>
                <span>{% trans "Add Dataset" %}</span>
              </a>
              <hr>
              <h2 class="c-commentary__title is-size-4 has-line-height-tight">{% trans "Project comments: " %}</h2>
              {% if project.project_commentary.count > 0 %}
                <table class="table is-hoverable is-fullwidth">
                  <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Commentary text" %}</th>
                  </tr>
                  {% for commentary in project.project_commentary.all %}
                    <tr>
                      <td>{{ commentary.user.username }}</td>
                      <td>{{ commentary.time }}</td>
                      <td>{{ commentary.text }}</td>
                      {% if commentary.user == user or project.user == user %}
                        <td><a class="button is-outlined"
                               href="{% url "deleteProjectCommentary" pk=commentary.pk %}"><span class="icon"><i
                          class="material-icons">delete</i></span></a></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p>{% trans "No comments submitted yet." %}</p>
              {% endif %}
              <form action="{% url "newProjectCommentary" pk=project.pk %}" method="POST">
                {% csrf_token %}
                {{ commentaryForm|bulma }}
                <input class="button is-outlined" type="submit" value="{% trans "Add new comment" %}"/>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
