{% extends 'base.html' %}
{% load bulma_tags %}
{% load i18n %}

{% block title %}
  {{ project.user }}/{{ project.title }}
{% endblock %}

{% block content %}
  <div class="c-page c-project">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
              <p>{{ project.user.username }}</p>
              <div class="level">
                <div class="level-left">
                   <h1 class="title is-1">{{ project.title }}</h1>
                </div>
                <div class="level-right">
                  {% if project.user == user %} <a class="button is-small is-outlined js-toggle" data-target=".js-project-form">{% trans "Edit Project Details" %}</a>{% endif %}
                </div>
              </div>
              {% if project.user == user %}
                <div class="c-form-wrapper c-form-wrapper--hidden js-project-form">
                  <form id="updateForm" action="{% url 'editProject' pk=project.pk %}" method="POST" enctype="multipart/form-data" class="c-form">
                    {% csrf_token %}
                    {{ form|bulma }}
                  </form>
                  <br>
                  <div class="level">
                    <div class="level-left">
                      <button class="button is-outlined" type="submit" value="Save" form="updateForm">{% trans "Save Changes" %}</button>
                    </div>
                    <div class="level-right">
                      <a class="button is-danger is-outlined" href="{% url "deleteProject" pk=project.pk %}">Delete Project</a>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="c-project__datasets">
                {% if project.project_dataset.all.count > 0 %}
                  <div class="tabs">
                    <ul>
                  {% for tdataset in project.project_dataset.all %}
                      <li class="{% if dataset.pk == tdataset.pk %}is-active{% endif %}">
                        {% if project.user == user %}
                         <a href="{% url "editDataset" pk=tdataset.pk project_pk=project.pk %}">{{ tdataset.title }}</a>
                        {% else %}
                           <a href="{% url "showDataset" pk=tdataset.pk project_pk=project.pk %}">{{ tdataset.title }}</a>
                        {% endif %}
                      </li>
                  {% endfor %}
                  {% if project.user == user %}
                     <li class=""><a href="{% url 'addDataset' pk=project.pk %}"><span class="icon"><i class="material-icons">add</i></span></a></li>
                  {% endif %}
                    </ul>
                  </div>
                  <div class="c-project__dygraph">
                    <div class="c-dygraph js-dygraph is-loading" data-csvurl="{{ dataset.data_file.url }}"></div>
                    {% if project.user == user %}
                      <div class="c-form-wrapper">
                        <form id="datasetForm"action="{% url 'editDataset' project_pk=project.pk pk=dataset.pk %}" method="POST" enctype="multipart/form-data" class="c-form">
                          {% csrf_token %}
                          {{ datasetForm|bulma }}
                          <br>
                        </form>
                        <div class="level">
                          <div class="level-left">
                            <button class="button is-outlined" type="submit" value="Save" form="datasetForm">{% trans "Save Changes" %}</button>
                          </div>
                          <div class="level-right">
                            <a class="button is-danger is-outlined" href="{% url "deleteDataset" project_pk=dataset.pk pk=dataset.pk %}">Delete Dataset</a>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                {% else %}
                  <p>{% trans "No datasets submitted yet." %}</p>
                  {% if project.user == user %}
                     <a class="button is-outlined" href="{% url 'addDataset' pk=project.pk %}">
                      <span class="icon"><i class="material-icons">add</i></span>
                      <span>{% trans "Add Dataset" %}</span>
                    </a>
                  {% endif %}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section c-project__info">
      <div class="container">
          <div class="columns is-variable is-8">
            <div class="column c-project__info-column">
                <div class="c-project__description">
                  <div class="content">{{ project.description }}</div>
                  {% if project.picture %}
                    <div class="c-project__image">
                      <img class="image" src="{{ project.picture.url }}" alt="{{ project.title }}" />
                    </div>
                  {% endif %}
                </div>
            </div>
            <div class="column">
              <div class="c-project__comments">
                {% include "projects/_parts/_commentaries.html" %}
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

