{% load static %}
{% load i18n %}
{% load mptt_tags %}


<footer class="c-footer footer">
  <div class="columns">
    <div class="column">
      <p>
        <a class="" href="/">
          <img src="{% static "images/logotype-white.svg" %}" alt="Databee Logo" width="100">
        </a>
      </p>
    </div>
    <div class="column">
      <nav class="c-footer__nav">
        <ul>
          {% recursetree pages %}
            <li class="c-footer__nav-section{% if not node.is_leaf_node %} has-children {% endif %}">
              <span class="c-footer__nav-item is-level-{{ node.level }}"><a
                href="http://{{ request.get_host }}/{{ node.slug }}">{{ node.title }}</a></span>
              {% if not node.is_leaf_node %}
                <ul class="children">
                  {{ children }}
                </ul>
              {% endif %}
            </li>
          {% endrecursetree %}
        </ul>
      </nav>
    </div>
    <div class="column">
      <div class="c-footer__info-block">
        {% if settings.about_text %}
          <p class="c-footer__text">
            {{ settings.about_text }}
          </p>
        {% endif %}
      </div>
      <div class="c-footer__info-block">
        {% if settings.contact %}
          <p class="c-footer__contact">
            {{ settings.contact }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</footer>