.c-project__datasets
  margin-bottom: 3rem

.c-public_project__creator
  padding-bottom: 2rem
  margin-bottom: 2rem
  border-bottom: 1px solid $grey-lighter

.c-project__dygraph
  padding-top: 1rem
  margin-bottom: 2rem

.c-project__info
  border-top: 1px solid $grey-lighter

.c-project__description
  padding-right: 2rem

.c-project__image
  padding-top: 2rem
  margin-bottom: 2rem
  padding-bottom: 2rem
  img
    width: 70%

.c-project__info-column
  +tablet
    border-right: 1px solid $grey-lighter