.c-project-card
  background-color: white
  text-align: left
  position: relative

  +tablet
    &::after
      content: "."
      color: transparent
      display: block
      position: absolute
      top: 0
      left: 0
      bottom: 0
      width: 100%
      background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1), rgba(0,0,0,0.4));

  &:hover
    .c-project-card__image .image
      transform: scale(1.1, 1.1)

.c-project-card__image
  height: 0
  padding-top: 100%
  position: relative
  overflow: hidden

  .image
    transition: transform .3s
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 100%

    img
      height: 100%
      object-fit: cover

.c-project-card__public-badge
  padding: 0.5rem 1rem 0.3rem 1rem
  margin-left: -1.5rem
  background-color: $primary
  display: inline-block
  position: absolute
  position: absolute
  top: 4rem
  left: 1.5rem
  z-index: 2

.c-project-card__info
  padding: 1rem
  padding-bottom: 1.25rem
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 1

  +mobile
    background-color: #EEE

  +tablet
    flex-direction: column-reverse
    position: absolute
    width: 100%
    top: 0
    bottom: 0
    color: $white
    a
      color: $white

.c-project-card__meta
  width: 100%




.c-project-card__cat
  font-size: $size-small
  text-transform: uppercase
  letter-spacing: 1px

.c-project-card__title
  font-size: $size-3
  font-weight: 700
  line-height: 1.1em

  +mobile
    margin-bottom: 1rem
