.c-project-card
  background-color: white
  text-align: left

.c-project-card__info
  padding: 1rem
  padding-bottom: 1.25rem

.c-project-card__cat
  font-size: $size-small
  text-transform: uppercase

.c-project-card__title
  font-size: $size-3
  font-weight: 700