.c-start-navbar
  padding-top: 5px
  position: absolute
  width: 100%
  display: flex
  background-color: transparent
  top: 0
  color: $white

  a
    color: $white

    &:hover
      text-decoration: underline

.c-start-navbar__menu
  justify-content: flex-end
  margin-left: auto
  align-items: center
  display: flex
  margin-right: 1em

  .navbar-item
    display: flex

