{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Start" %}
{% endblock %}

{% block content %}
  <div class="c-page c-page--start">

    <section class="c-startpage-hero hero is-fullheight"
             style="background-image:url('{% static 'placeholders/annie-spratt-137316-unsplash.jpg' %}')">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-desktop">
            <div class="column is-offset-1 is-10">
              <h1 class="c-startpage-hero__title c-t-start-title is-size-1-mobile">
                {% trans "Visualize and Share Datasets" %}
              </h1>
            </div>
          </div>
          {% if not user.is_authenticated %}
            <a class="button is-outlined is-medium c-startpage-hero__button"
               href="{% url 'register' %}">{% trans "Sign Up" %}</a>
          {% endif %}
        </div>
      </div>
      <div class="c-startpage-hero__latest-projects">
        <p>{% trans "Latest Projects" %}</p>
      </div>
    </section>

    <section class="section c-startpage-projects is-primary">
      <div class="container">
        <h2 class="c-startpage-projects__headline is-size-2 has-line-height-tight">{% trans "Latest Projects" %}</h2>
          {% if projects %}
            <div class="c-startpage-projects__list">
              <div class="c-projects-list columns is-multiline">
                {% for project in projects %}
                  {% include "projects/_parts/_project-card.html" %}
                {% endfor %}
              </div>
            </div>
            <div class="c-startpage-projects__more">
                  <a class="button is-dark is-outlined " href="{% url 'projects' %}">{% trans "Show more projects" %}</a>
            </div>
          {% else %}
            <p>{% trans "No public projects avaliable." %}</p>
          {% endif %}
      </div>
    </section>
  </div>
{% endblock %}
