@font-face:
  font-family: 'Inter UI'
  font-style:  normal
  font-weight: 400
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/Inter-UI-Regular.woff") format("woff")

@font-face
  font-family: 'Inter UI'
  font-style:  normal
  font-weight: 900
  src: url("../fonts/Inter-UI-Black.woff2") format("woff2"), url("../fonts/Inter-UI-Black.woff") format("woff")

// BRAND COLORS
$primary: #FFD200
$secondary: #003B53

// BULMA GLOBAL VARS
$family-sans-serif: 'Inter UI', sans-serif;

// BULMA COMPONTEN VARS
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
