{% load static %}

<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Databee</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="apple-touch-icon" href="icon.png">
</head>

<body>

    <div class="dropdown">
        <a href="#">Home</a>
        <!-- nur für authentifizierte Nutzer: -->
        {% if user.is_authenticated %}
          <button onclick="myFunction()" class="dropbtn">angemeldet als: {{ user.username }} </button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Profil</a>
            <a href="{% url 'logout' %}">Ausloggen</a>
          </div>
          <div>
            <a href="#">eigene Projekte</a>
          </div>
        <!-- nur für anonyme Nutzer:
        https://docs.djangoproject.com/en/2.1/ref/contrib/auth/#django.contrib.auth.models.AnonymousUser -->
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Registrierung</a>
        {% endif %}
    </div>
    <h2>Dashboard</h2>
    <!-- nur für authentifizierte Nutzer: -->
    {% if user.is_authenticated %}
      <div>
        <a href="#">eigene Projekte</a>
      </div>
    {% endif %}
    <script src="{% static "js/build.js" %}"></script>
</body>

</html>