{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bulma_tags %}

{% block content %}
  <div class="c-page c-dashboard">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="c-page__title c-t-page-headline">{% trans "Dashboard" %}</h1>
            <!-- nur für authentifizierte Nutzer: -->
            {% if user.is_authenticated %}
              <div class="c-dashboard__login-info">
                {% trans "Logged in as" %}: {{ user.username }}
              </div>
              <a class="button is-outlined is-medium" href="{% url 'profile' %}">{% trans "Profil" %}</a>
              <a class="button is-outlined is-medium" href="{% url 'addProject' %}">
                <span class="icon"><i class="material-icons">add</i></span>
                <span>{% trans "Add Project" %}</span>
              </a>
              <a class="button is-outlined is-medium" href="{% url 'projects' %}">
                <span class="icon"><i class="material-icons">list</i> </span>
                <span>{% trans "List View" %}</span>
              </a>
              <hr>
              <div class="c-projects-list columns is-multiline">
                {% for project in projects %}
                  {% include "projects/_parts/_project-card.html" %}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

