{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bulma_tags %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  <div class="c-page">
    <section class="section">
      <div class="c-profile">
        <div class="container">
          <h2 class="c-page__title c-t-page-headline">{{ user.username }}</h2>
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="columns">
              <div class="column is-offset-2-tablet is-8-tablet is-offset-3-desktop is-6-desktop">
                {{ user_form|bulma }}
                {% if user.profile.image %}
                  <div class="c-profile__image-wrapper">
                    <div class="c-profile__image">
                      <img src="{{ user.profile.image.url }}" alt="{{ user.username }}"/>
                    </div>
                  </div>
                {% endif %}
                {{ profile_form|bulma }}
                <br>
               <button class="button is-outlined" type="submit">{% trans "Save changes" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

