{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bulma_tags %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  <div class="c-page">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="c-page__title is-size-2 has-line-height-tight">{% trans "Profile" %}</h2>
            <h3>{{ user.get_full_name }}</h3>
            <form method="post">
              {% csrf_token %}
              {{ user_form|bulma }}
              {{ profile_form|bulma }}
              <button type="submit">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

