{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bulma_tags %}

{% block title %}
  {% trans "Confirm deletion" %}
{% endblock %}

{% block content %}
  <div class="c-page">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-2-tablet is-8-tablet is-offset-3-desktop is-6-desktop">
            <div class="c-comments-form">
              <form method="post">{% csrf_token %}
                <p>{% trans "Are you sure you want to delete the comment " %} "{{ object }}"?</p>
                <input class="button" type="submit" value="Confirm">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}